/*
   de.systopia.campaign styles file
*/

#campaign_container textarea {
  margin: 0.5em;
  width: 95%;
  height: 10em;
}

#campaign_container #breadcrumb {
   margin: 10px 0;
}

#campaign_container #breadcrumb a {
    text-decoration:none;
}

#campaign_container #breadcrumb a:hover {
    text-decoration:underline;
}

#campaign_container #breadcrumb .current {
   font-weight: bold;
}

#campaign_container #actions {
   margin: 10px 0;
}

#campaign_container #info {
   margin: 50px 0 10px 0;
}

#campaign_container .goalContent {
   margin: 10px 10px 10px 10px;
}
