<div class="CampaignExpenseAddDiv" ng-controller="CampaignExpenseCtrl">
  <div class="crm-block" ng-form="addExpenseForm" crm-ui-id-scope>
    <div class="crm-group">
      <div crm-ui-field="{name: 'addExpenseForm.amount', title: ts('Amount')}">
        <input
         crm-ui-id="addExpenseForm.amount"
         type="text"
         class="crm-form-text"
         ng-model="model.amount"
         required
         placeholder="Amount"
         name="amount" required/>
      </div>
      <div crm-ui-field="{name: 'addExpenseForm.transactionDate', title: ts('Transaction Date')}">
        <input crm-ui-datepicker="{time: false}" ng-model="model.transaction_date"/>
      </div>
      <div crm-ui-field="{name: 'addExpenseForm.expenseTypeId', title: ts('Category')}">
        <select crm-ui-select="{placeholder:ts('- select -'), allowClear:true, width:'auto'}" ng-model="model.expense_type_id">
          <option ng-repeat="category in categories" value="{{category.value}}">{{category.label}}</option
        </select>
      </div>
      <div crm-ui-field="{name: 'addExpenseForm.description', title: ts('Description')}">
        <input
         crm-ui-id="addExpenseForm.description"
         type="text"
         class="crm-form-text"
         ng-model="model.description"
         required
         placeholder="Description"
         name="description" />
      </div>
      <div crm-ui-field="{name: 'addExpenseForm.submit'}">
        <a class="button" crm-ui-id="addExpenseForm.submit" name="submit" ng-click="submit()" ng-class="{disabled: addExpenseForm.$invalid}">Submit</a>
      </div>
    </div>
  </div>
</div>
