<div id="campaign_container">
   <div id="campaign_summary">
      <h1>{{ts('Clone')}} "{{currentCampaign.title}}"</h1>
      <table class="cmpinfo">
        <tr>
          <td>{{ts('Include subtree')}}</td>
          <td><input type="checkbox" ng-model="form_model.depth" ng-true-value="999" ng-false-value="0"></td>
        </tr>
        <tr>
          <td>{{ts('Title Match Pattern')}}</td>
          <td><input type="text" ng-model="form_model.titleSearch"></td>
        </tr>
        <tr>
          <td>{{ts('Title Replacement Pattern')}}</td>
          <td><input type="text" ng-model="form_model.titleReplace"></td>
        </tr>
        <tr>
          <td>{{ts('Start Date Offset')}}</td>
          <td><input type="text" ng-model="form_model.startDateOffset"></td>
        </tr>
        <tr>
          <td>{{ts('End Date Offset')}}</td>
          <td><input type="text" ng-model="form_model.endDateOffset"></td>
        </tr>
      </table>
   </div>
   <div id="actions">
     <a ng-click="cloneCampaign()" class="button">{{ts('Save')}}</a>
     <a href="{{campaign_link}}" class="button">{{ts('Cancel')}}</a>
   </div>
</div>
