<div id="tree_container">
  <div id="actions">
    <a href="{{campaign_link}}" class="button">View Campaign</a>
    <a ng-if="parents.root" href="{{root_link}}" class="button">View Root</a>
    <a ng-if="current_campaign.parent_id" href="{{parent_link}}" class="button">View Parent</a>
    <a id="resetBtn" class="button">Reset View</a>
    <a id="helpBtn" class="button fr" onclick="toggleHelp()">Help</a>
  </div>
  <div style="clear:both"></div>
  <div id="helptext" crm-ui-accordion="{title: ts('Help'), collapsed: false}" >
     <div ng-include="getTemplateUrl()"></div>
  </div>
  <div id="tree" campaign-tree tree-data="current_tree"></div>
  <script type="text/javascript">
  var toggleHelp = function() {
    CRM.$('#helptext').toggle(500);
  }
  </script>
</div>
